@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #0d192b;
  color: #ffffff;
  font-family: 'Outfit', sans-serif;
  font-weight: 700; }

.card {
  margin: 9.5rem auto;
  max-width: 330px;
  width: 100%;
  padding: 22px;
  border-radius: 14px;
  background-color: #14253d; }
  .card .card__section--images {
    position: relative;
    overflow: hidden;
    border-radius: 7px; }
    .card .card__section--images:hover .card__overlay {
      opacity: .5; }
    .card .card__section--images:hover .card__overlay--img {
      opacity: 1; }
    .card .card__section--images .card__section-img {
      width: 100%; }
    .card .card__section--images .card__overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      cursor: pointer;
      transition: .3s ease;
      background-color: #00fff7; }
    .card .card__section--images .card__overlay--img {
      color: #ffffff;
      font-size: 100px;
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      cursor: pointer;
      transform: translate(-50%, -50%);
      transition: .3s ease; }
  .card .header {
    margin: 1.4rem 0 0.75rem;
    font-size: 1.4rem; }
    .card .header:hover {
      color: #00fff7; }
  .card .description {
    color: #8bacda; }
  .card .info {
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
    border-bottom: 1px solid #2f415b; }
    .card .info .info--item {
      display: flex;
      align-items: center; }
      .card .info .info--item .item--img {
        margin-right: 6px; }
      .card .info .info--item .item--value {
        color: #00fff7; }
      .card .info .info--item .item--time {
        color: #8bacda; }
  .card .footer {
    display: flex;
    align-items: center;
    padding-top: 18px; }
    .card .footer .footer__img {
      width: 100%;
      height: auto;
      max-width: 34px;
      border: 1px solid #ffffff;
      border-radius: 100%; }
    .card .footer .footer__paragraph {
      margin-left: 14px;
      color: #8bacda; }
    .card .footer .footer__span {
      color: #ffffff; }
      .card .footer .footer__span:hover {
        color: #00fff7; }
